html,
body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  color: #8F82BC;

  // variables
  --regular-text-color: #8F82BC;
  --secondary-text-color: #666666;

  --regular-font-size: 1rem;
  --small-font-size: 0.8rem;

  --regular-gap: 1rem;
  --small-gap: 0.8rem;
  --mini-gap: 0.6rem;
  --super-mini-gap: 0.4rem;

  --regular-border-radius: 0.5rem;

  --regular-shadow: 0 0rem 0.6rem rgba(0, 0, 0, 0.15);
}

html {
  background: radial-gradient(circle, transparent 20%, #1f2122 20%, #1f2122 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #1f2122 20%, #1f2122 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#333333 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #333333 8px, transparent 8px) -4px 0;
  background-color: #1f2122;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

body.dark-mode {
  color: #F8D090;
  background-color: black;

  // variables
  --regular-text-color: #F8D090;
  --secondary-text-color: #808080;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@import url("./animate.scss");
